#cart-bracelet {
  display: flex;
  justify-content: center;
}

#single-bracelet-info {
  flex-basis: 50%;
}

#single-bracelet-image-cart {
  /* flex-basis: 50%; */
  margin: 2px;
  width: 200px;
  height: 150px;
  margin-top: 55px;
}

.checkout {
  /* float: center; */
  border: 0;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: -205px;
  padding: 6px 25px;
  background-color: gray;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: lightgray;
}
